<script schema type="application/json">
    {
        "name": "Blog post slider",
        "icon": "arrows-alt-h",
        "description": "Showcase your latest blog posts.",
        "settings": {
            "title": {
                "label": "Title",
                "type": "text",
                "default": "Blog"
            },
            "amount": {
                "label": "How many blog posts to show?",
                "type": "range",
                "steps": 1,
                "prepend": "Show ",
                "append": " blog post(s).",
                "max": 100,
                "min": 1,
                "default": 10
            },
            "tags": {
                "value": ""
            },
            "blog_posts": {
                "hidden_in_customizer": true,
                "type": "blog_posts"
            }
        }
    }
</script>

<script on_update type="text/javascript">
    initSlick{{ schema.index }}();
</script>

{% block content %}
    {% from "macros/card.twig" import card %}
    <div class="container">
        {% if schema.settings.blog_posts.blog_posts | length > 0 or 'theme_editor=1' in url() %}
            <h2 class="text-center mb-5">{{ __(schema.settings.title.value) }}</h2>
        {% endif %}
        {% if schema.settings.blog_posts.blog_posts | length > 0 %}
            <div class="items items_{{schema.index}} no-print">
                {% for post in schema.settings.blog_posts.blog_posts %}
                    {{ card({
                        heading: __('custom.' ~ post.category_name),
                        title: __('custom.' ~ post.title),
                        subtitle: post.published_at_formatted,
                        uri: post.uri,
                        image_path: post.thumbnail_path,
                        image_variants: post.image_variants,
                        image_fill: true
                    }) }}
                {% endfor %}
            </div>
        {% elseif 'theme_editor=1' in url() %}
            <p class="text-center">{{ __('info.blog_posts_default_text') }}</p>
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
    <script>
        let initSlick{{ schema.index }} = function() {
            $('.items.items_{{schema.index}}').slick({
                infinite: true,
                variableWidth: true,
                centerMode: true,
                slidesToShow: 1,
                slidesToScroll: 1,
                arrows: true,
                dots: true,
                prevArrow: "<button type='button' class='slick-prev pull-left'><i class='bi bi-chevron-left'></i></button>",
                nextArrow: "<button type='button' class='slick-next pull-right'><i class='bi bi-chevron-right'></i></button>"
            });
        }
        $(document).ready(function () {
            initSlick{{ schema.index }}();
        });
    </script>
{% endblock %}