<script schema type="application/json">
    {
        "name": "Category slider",
        "icon": "arrows-alt-h",
        "description": "Showcase your best selling categories.",
        "settings": {
            "title": {
                "label": "Title",
                "type": "text",
                "default": "Categories"
            },
            "categories": {
                "label": "Categories",
                "type": "categories"
            }
        }
    }
</script>

<script on_update type="text/javascript">
    initSlick{{ schema.index }}();
</script>

{% block content %}
    {% from "macros/card.twig" import card %}
    <div class="container">
        <h2 class="text-center mb-5">{{ __('custom.' ~ schema.settings.title.value) }}</h2>
        {% if schema.settings.categories.categories | length > 0 %}
            <div class="items items_{{schema.index}} no-print">
                {% for category in schema.settings.categories.categories %}
                    {{ card({
                        title: __('custom.' ~ category.name),
                        uri: category.uri,
                        image_path: category.thumbnail_path ?? '/img/placeholder-img.jpg',
                        image_variants: category.image_variants,
                        image_fill: true
                    }) }}
                {% endfor %}
            </div>
        {% else %}
            <p class="text-center">{{ __('info.category_slider_default_text') }}</p>
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
    <script>
        let initSlick{{ schema.index }} = function() {
            $('.items.items_{{schema.index}}').slick({
                infinite: true,
                variableWidth: true,
                centerMode: true,
                slidesToShow: 1,
                slidesToScroll: 1,
                arrows: true,
                dots: true,
                prevArrow: "<button type='button' class='slick-prev pull-left'><i class='bi bi-chevron-left'></i></button>",
                nextArrow: "<button type='button' class='slick-next pull-right'><i class='bi bi-chevron-right'></i></button>"
            });
        }
        $(document).ready(function () {
            initSlick{{ schema.index }}();
        });
    </script>
{% endblock %}