<script schema type="application/json">
    {
        "name": "Dynamic Cart",
        "hidden_in_customizer": true,
        "icon": "list"
    }
</script>

{% set item = cart.new_item %}
<div class="mb__dynamic_cart">

    <div class="mb-3 d-flex align-items-center">
        <div class="flex-grow-1"><i class="bi bi-check2"></i> {{ __('info.item_added_to_cart') }}</div>
        <div><button class="btn btn-link text-dark mb__dynamic_cart_close p-0"><i class="bi bi-x-lg" style="font-size: 20px"></i></button></div>
    </div>
    <div class="d-flex mb-3">
        <div class="pe-2">
            {% if item.gift_card_value %}
                <i class="bi bi-gift gift-card-icon"></i>
            {% else %}
                <div class="gallery-file border-0 img-fluid bg-white" data-file-name=""
                     style="width:80px; height:80px; background-image: url('{% if item.variant and item.variant.image %}{{ item.variant.image.public_path }}{% else %}{% if item.product.primaryImage %}{{ item.product.primaryImage.public_path }}{% else %}https://assets.gomonobill.com/img/placeholder-img.jpg{% endif %}{% endif %}');"></div>
            {% endif %}
        </div>
        <div class="flex-grow-1">
            {% if item.gift_card_value %}
                {{ __('titles.gift_card') }}
                {% if item.gift_card_recipients | length > 0 %}
                    <p class="small">{{ __('forms.recipients') }}
                        : {{ item.gift_card_recipients | join(', ') }}</p>
                {% endif %}
                {% if item.gift_card_message %}
                    <p class="small">{{ __('forms.message') }}
                        : {{ item.gift_card_message }}</p>
                {% endif %}
            {% else %}
                <span class="fs-5">{{ item.product.name }}</span>
                <div class="item-config">
                    {% if item.variant %}
                        {% for variantOptionValue in item.variant.variant_option_values %}
                            <b>{{ variantOptionValue.product_variant_option.name }}:</b>
                            {% if variantOptionValue.product_variant_option.type == 'color_swatch' %}
                                <span class="swatch" style="background-color:{{ variantOptionValue.value }}"></span>
                            {% else %}
                                {{ variantOptionValue.value }}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
                {% for modifierOption in item.cart_item_modifier_options %}
                    <b>{{ modifierOption.product_modifier.name }}:</b>{% if modifierOption.quantity > 1%} {{ modifierOption.quantity }}x{% endif%} {{ modifierOption.product_modifier_option.name }}<br>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="d-grid gap-2">
        <a href="{{ url('/cart') }}"
           class="btn btn-outline-dark">{{ __('buttons.view_cart_quantity', {quantity: cart.quantity}) }}</a>
        <a href="{{ url('/cart/checkout') }}" class="btn btn-dark">{{ __('buttons.proceed_to_checkout') }}</a>
        <a class="btn btn-link text-dark mb__dynamic_cart_close">{{ __('buttons.continue_shopping') }}</a>
    </div>
</div>