<script schema type="application/json">
    {
        "name": "Header",
        "settings": {
            "image_logo": {
                "label": "Show image logo",
                "type": "toggle",
                "default": 1
            },
            "logo_size": {
                "label": "Logo size",
                "type": "range",
                "steps": 1,
                "max": 10,
                "min": 1,
                "append": "x",
                "default": "5"
            },
            "menu": {
                "label": "Menu",
                "type": "menu",
                "default": ""
            },
            "announcement": {
                "label": "Announcement",
                "type": "text"
            },
            "announcement_scroll_speed": {
                "label": "Announcement scroll speed",
                "type": "range",
                "steps": 1,
                "max": 500,
                "min": 0,
                "append": "seconds",
                "default": "60"
            }
        }
    }
</script>

<style component_style lang="scss">
    .marquee-container {
        width: 100%;
        overflow: hidden;
        position: relative;
        white-space: nowrap;
        background: #fff;
        transition: 250ms ease-in-out;
        &.translucent {
            opacity: 0.8;
        }
        .marquee-content {
            display: flex;
            gap: 20px; // Adjust spacing between items
            width: max-content;
        }
        &:hover {
            opacity: 1;
            .marquee-content {
                animation-play-state: paused !important;
            }
        }

        .marquee-content-clone {
            display: flex;
            gap: 20px;
        }

        .marquee-item {
            flex: 0 0 auto;
            padding: 10px 20px;
            border-radius: 5px;
        }
    }

    @keyframes marquee-scroll {
        from {
            transform: translateX(0%);
        }
        to {
            transform: translateX(-50%);
        }
    }
</style>

{% block content %}
    <style>
        .animate-marquee {
            animation: marquee-scroll {{ schema.settings.announcement_scroll_speed.value }}s linear infinite !important;
        }
    </style>
    <header class="nav-type-1">
        {% if schema.settings.announcement.value | length > 0 %}
            <div class="marquee-container">
                <div class="marquee-content animate-marquee">
                    <div class="marquee-content-clone">
                        {% for i in 1..20 %}
                            {% for phrase in schema.settings.announcement.value | split(',') %}
                                <div class="marquee-item">{{ phrase }}</div>
                            {% endfor %}
                        {% endfor %}
                    </div>
                    <div class="marquee-content-clone">
                        {% for i in 1..20 %}
                            {% for phrase in schema.settings.announcement.value | split(',') %}
                                <div class="marquee-item">{{ phrase }}</div>
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
        <nav class="navbar navbar-expand-lg bg-white">
            <div class="container flex-nowrap">
                <button class="navbar-toggler collapsed" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#navOffcanvas"
                        aria-controls="navOffcanvas">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <a class="navbar-brand text-uppercase"
                   style="font-size: {{ schema.settings.logo_size.value / 1.5 }}rem;" href="{{ url('/') }}">
                    {% if schema.settings.image_logo.value == 1 and globals.store.logo %}
                        <img src="{{ globals.store.logo.public_path }}" class="img-fluid"
                             style="max-width: {{ schema.settings.logo_size.value * 70 }}px;">
                    {% else %}
                        {{ globals.store.name }}
                    {% endif %}
                </a>
                <div class="offcanvas offcanvas-start" data-bs-hideresize="true" data-bs-backdrop="false" tabindex="-1"
                     id="navOffcanvas" aria-labelledby="offcanvasNavbarExample-expand-xxlLabel"
                     aria-hidden="true">
                    <div class="offcanvas-body">
                        <ul class="navbar-nav container justify-content-center">
                            {% if schema.settings.menu.menu %}
                                {% for menuItem in schema.settings.menu.menu.items %}
                                    <li class="nav-item {% if menuItem.children | length > 0 %}dropdown{% endif %}">
                                        <a href="{% if menuItem.type == 'link' %}{{ url(menuItem.url) }}{% elseif menuItem.type == 'page' %}{{ url(menuItem.page.uri) }}{% elseif menuItem.type == 'category' %}{{ url(menuItem.product_category.uri) }}{% elseif menuItem.type == 'product' %}{{ url(menuItem.product.uri) }}{% else %}#{% endif %}"
                                           class="nav-link {% if menuItem.children | length > 0 %}dropdown-toggle{% endif %}"
                                           {% if menuItem.children | length > 0 %}data-bs-toggle="dropdown"
                                           aria-expanded="false"{% endif %}>{{ __('custom.' ~ menuItem.name) }}</a>
                                        {% if menuItem.children | length > 0 %}
                                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                {% for child in menuItem.children %}
                                                    <li>
                                                        <a class="dropdown-item"
                                                           href="{% if child.type == 'link' %}{{ url(child.url) }}{% elseif child.type == 'page' %}{{ url(child.page.uri) }}{% elseif child.type == 'category' %}{{ url(child.product_category.uri) }}{% elseif child.type == 'product' %}{{ url(child.product.uri) }}{% endif %}"
                                                           class="nav-link">{{ __('custom.' ~ child.name) }}</a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            {% endif %}
                            <li class="nav-item d-lg-none">
                                <a class="nav-link" href="{{ url('/account') }}">{{ __('buttons.account') }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <ul class="navbar-nav flex-row">
                    <li class="nav-item d-print-none">
                        <a class="nav-link active" aria-current="page" href="#" id="mb__search_btn"><i
                                    class="bi bi-search"></i></a>
                    </li>
                    <li class="nav-item d-print-none d-none d-lg-inline-block">
                        <a class="nav-link active position-relative" aria-current="page"
                           href="{% if auth().check() %}{{ url('account') }}{% else %}{{ url('account/login') }}{% endif %}">
                            <i class="bi bi-person" style="font-size: 1.6rem; line-height: 1.2;"></i>
                            <span class="mb__status-indicator mb__status_{% if auth().check() %}online{% else %}offline{% endif %}"></span>
                        </a>
                    </li>
                    <li class="nav-item d-print-none">
                        <a class="nav-link active position-relative" aria-current="page" href="{{ url('cart') }}">
                            <i class="bi bi-cart"></i>
                            <span class="mb__cart_quantity mb_cart_quantity {% if globals.cart.quantity > 0 %}active{% endif %}">{% if globals.cart.quantity > 0 %}{{ globals.cart.quantity > 99 ? '99+' : globals.cart.quantity }}{% endif %}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        {% if template_name != 'search.json' %}
            <div class="search-container w-100 top-0 auto-hide" id="mb__search_container">
                <div class="mb__search_overlay"></div>
                <div class="container">
                    <div class="position-relative">
                        <div class="search-box mb-2 w-100 pt-3 pb-2">
                            <form method="get" action="{{ url('/search') }}" class="flex-grow-1">
                                {{ mb_dev_fields | raw }}
                                <div class="input-group input-group-lg">
                            <span class="input-group-text bg-transparent">
                                <i class="mb__search-icon bi bi-search"></i>
                                <svg class="mb__search-spinner" style="display: none; width: 20px; height: 20px;"
                                     viewBox="0 0 50 50"><circle class="path" cx="25" cy="25" r="20" fill="none"
                                                                 stroke-width="5"></circle></svg>
                            </span>
                                    <input id="mb__search_input" type="search" name="q" value=""
                                           class="form-control search-group-input"
                                           placeholder="{{ __('placeholders.search') }}" required>
                                </div>
                            </form>
                            <div class="ms-3">
                                <button id="mb__search_dismiss_btn" class="btn btn-outline-dark"><i class="bi bi-x-lg"
                                                                                                    style="font-size: 1.35rem;"></i>
                                </button>
                            </div>
                        </div>
                        <div id="mb__search_autocomplete" style="display: none"></div>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="mb__dynamic_cart_wrapper container"></div>
    </header>

    {% if notification %}
        <div class="row justify-content-center mt-4">
            <div class="col-sm-8 col-md-6 col-xl-4">
                <div class="alert alert-{{ notification.type }} alert-dismissible fade show" role="alert">
                    <i class="fa fa-exclamation-circle"></i> {{ notification.message | raw }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}