<script schema type="application/json">
    {
        "name": "Main Password Reset Section",
        "allowed_templates": [
            "account.password_reset.json"
        ]
    }
</script>

{% block content %}

    {% from "macros/form_error.twig" import formError %}

    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-sm-8 col-md-6 col-xl-4">
                <div class="text-center">
                    <h3>{{ __('titles.reset_your_password') }}</h3>
                </div>
                <p class="mt-4 mb-3">
                    {{ __('notifications.reset_link_sent_to_email') }}
                </p>
                <form method="post" action="{{ url('/account/login/password-reset') }}">
                    {{ csrf_input | raw }}
                    <label class="floating-input">
                        <span class="floating-label">{{ __('forms.email') }}</span>
                        <input type="text" name="email_address"
                               placeholder="{{ __('forms.email') }}"
                               class="form-control"
                               value="{{ old('email_address') }}">
                    </label>
                    {{ formError('email_address', true) }}
                    <div class="d-grid gap-2">
                        <button class="btn btn-dark btn-block">{{ __('buttons.send_password_reset_link') }}</button>
                        <a href="{{ url('/account/login') }}"
                           class="btn btn-transparent btn-block"><u>{{ __('buttons.cancel') }}</u></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}