<script schema type="application/json">
    {
        "name": "Main Invoice Section",
        "allowed_templates": ["invoice.json"]
    }
</script>

{% block viewport %}
<meta name="viewport" content="width=500; user-scalable=0;" />
{% endblock %}


{% block styles %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
 
<link href="http://fonts.googleapis.com/css?family=Maven+Pro:400,700%7CRaleway:300,400,700%7CPlayfair+Display:700" rel="stylesheet">

<style type="text/css">
    html, body {
        min-width: 500px;
        -webkit-print-color-adjust:exact !important;
        print-color-adjust:exact !important;
    }
    p {
        margin: 0px;
    }
    a {
        color: #000 !important;
    }
    .invoice-badge {
        font-size: 18px;
        padding: 1rem;
    }
    @media print { 
        a:link {
            border-bottom: none !important;
            text-decoration: none !important;
        }
        a[href]:after {
            content: none !important;
        }
        .table td.bg-dark, .table th.bg-dark { 
            background-color: rgb(33,37,41) !important; 
        }
        .card {
            border: none;
        }
        .card-body {
            padding: 0;
        }
        .invoice-badge {
            border: none !important;
        }
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-10 offset-lg-1 col-xl-9 offset-xl-1">
            <div class="card mt-5">
                <div class="card-body p-60">
                    <div class="row">
                        <div class="col-6">
                            {% if globals.store.logo %}
                                <p><img src="{{ globals.store.logo.public_path }}" class="img-fluid" style="max-width: 150px; width: 100%" alt=""/></p>
                            {% else %}
                                <p class="text-primary" style="font-size: 24px;">{{ globals.store.name }}</p>
                            {% endif %}
                            <p style="margin-top: 30px !important;">{{ globals.store.address }}</p>
                            <p>{{ globals.store.city }} {{ globals.store.state_name }} {{ globals.store.postal_code }}</p>
                            <p>{{ globals.store.country_name }}</p>
                            <p><a href="tel:{{ globals.store.phone_number }}">{{ globals.store.phone_number }}</a></p>
                            <p><a href="mailto:{{ globals.store.email }}">{{ globals.store.email }}</a></p>
                            {% if globals.store.company_tax_id is not null %}
                                <p>{{ __('forms.tax_id') }}: {{ globals.store.company_tax_id }}</p>
                            {% endif %} 
                            <p><a href="{{ url('/') }}">{{ url('/') }}</a></p>
                        </div>
                        <div class="col-6 text-right">
                            <p class="text-primary" style="font-size: 24px; font-weight: bold; text-transform: uppercase;">{{ __('titles.invoice') }}</p>
                            <p style="font-size: 24px;" class="mb-2">#{{ invoice.invoice_number }}</p>
                            {% if invoice.due_date %}<p><span class="text-primary">{{ __('titles.due_date')  }}</span> {{ invoice.due_date_formatted }}</p>{% endif %}
        
                            <p class="text-right">
                                <span class="invoice-badge badge 
                                    {% if invoice.status == 'unpaid' 
                                    or invoice.status == 'overdue' %}
                                    badge-danger
                                    {% elseif invoice.status == 'paid' 
                                    or invoice.status == 'partially_paid' %}
                                    badge-success
                                    {% elseif invoice.status == 'cancelled' 
                                    or invoice.status == 'reveresed'
                                    or invoice.status == 'refunded'
                                    or invoice.status == 'draft' %}
                                    bage-dark
                                    {% endif %}
                                    float-right mt-4">{{ __('forms.' ~ invoice.status )}}</span>
                            </p>
                        </div>
                    </div>
                    <div class="row bg-dark no-gutters mt-4">
                        <div class="col-6">
                            <div class="p-1 text-white font-weight-bold">{{ __('titles.billing_address') }}</div>
                        </div>
                        <div class="col-6">
                            <div class="p-1 text-white font-weight-bold">{{ __('titles.shipping_address') }}</div>
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-6">
                            <div class="p-1">
                                <p>{{ invoice.billing_first_name }} {{ invoice.billing_last_name }}</p>
                                {% if invoice.billing_company %}<p>{{ invoice.billing_company }}</p>{% endif %}
                                <p>{{ invoice.billing_address }}</p>
                                <p>{{ invoice.billing_city }} {{ invoice.billing_state }} {{ invoice.billing_postal_code }}</p>
                                <p>{{ invoice.billing_country_name }}</p>
                                <p><a href="tel:{{ invoice.billing_phone_number }}">{{ invoice.billing_phone_number }}</a></p>
                                <p><a href="mailto:{% if invoice.customer %}{{ invoice.customer.email }}{% endif %}">{% if invoice.customer %}{{ invoice.customer.email_address }}{% endif %}</a></p>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="p-1">
                                <p>{{ invoice.shipping_first_name }} {{ invoice.shipping_last_name }}</p>
                                {% if invoice.shipping_company %}<p>{{ invoice.shipping_company }}</p>{% endif %}
                                <p>{{ invoice.shipping_address }}</p>
                                <p>{{ invoice.shipping_city }} {{ invoice.shipping_state }} {{ invoice.shipping_postal_code }}</p>
                                <p>{{ invoice.shipping_country_name }}</p>
                                <p><a href="tel:{{ invoice.shipping_phone_number }}">{{ invoice.shipping_phone_number }}</a></p>
                                <p><a href="mailto:{% if invoice.customer %}{{ invoice.customer.email }}{% endif %}">{% if invoice.customer %}{{ invoice.customer.email_address }}{% endif %}</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-12">
                            <div style="overflow:auto; width:100%;position:relative;">
                                <table class="table m-t-22">
                                    <thead class="bg-dark text-white">
                                        <tr>
                                            <th class="bg-dark">{{ __('titles.description') }}</th>
                                            <th class="bg-dark" width="10%">{{ __('titles.qty')  }}</th>
                                            <th class="bg-dark text-right" width="15%"><nobr>{{ __('titles.unit_price') }}</nobr></th>
                                            <th class="bg-dark text-right" width="20%">{{ __('titles.total')  }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in invoice.invoice_items %}
                                            <tr>
                                                <td class="align-middle">
                                                    {% if item.product or item.variant %}
                                                        <a class="text-dark" href="{{ url(item.product.link.uri) }}{% if item.variant %}?variant={{ item.variant.id }} {% endif %}" title="View this product" target="_blank">{{ item.product.name }}</a>
                                                    {% else %}
                                                        {{ item.item_name }}
                                                    {% endif %}
                                                    <div class="d-block item-config">
                                                        {% if item.variant %}
                                                            {% for variantOptionValue in item.variant.variant_option_values %}
                                                                {{ variantOptionValue.product_variant_option.name }}:
                                                                <span class="me-2">
                                                                    {% if variantOptionValue.product_variant_option.type == 'color_swatch' %}
                                                                    <span class="swatch" style="background-color:{{ variantOptionValue.value }}">
                                                                    </span>
                                                                    {% else %}
                                                                        {{ variantOptionValue.value }}
                                                                    {% endif %}
                                                                </span>
                                                            {% endfor %}
                                                        {% endif %}
                                                    </div>
                                                </td>
                                                <td class="text-center align-middle">{{ item.quantity }}</td>
                                                <td class="text-right align-middle">
                                                    {#{% if item.original_unit_price %}<small style="position: absolute; top: -2px;"><s>{{ item.original_unit_price_formatted }}</s></small>{% endif %}#}
                                                    {{ item.unit_price_formatted }}
                                                </td>
                                                <td class="text-right align-middle">{{ item.total_formatted }}</td>
                                            </tr>
                                        {% endfor %}
                                        <tr class="border-0">
                                           <td colspan="3" class="border-0 text-right">{{ __('titles.subtotal') }}</td>
                                           <td class="border-0 text-right">{{ invoice.subtotal_formatted }}</td>
                                        </tr>
                                        {% if invoice.shipping_total > 0 %}
                                            <tr class="border-0">
                                               <td colspan="3" class="border-0 text-right">{{ __('titles.shipping') }}</td>
                                               <td class="border-0 text-right">{{ invoice.shipping_total_formatted }}</td>
                                            </tr>
                                        {% endif %}
                                        {% if invoice.pickup_option.charge %}
                                            <tr class="border-0">
                                               <td colspan="3" class="border-0 text-right">{{ __('info.pickup_fee') }}</td>
                                               <td class="border-0 text-right">{{ invoice.pickup_option.charge_formatted }}</td>
                                            </tr>
                                        {% endif %}
                                        {% for tax in invoice.taxes %}
                                            <tr class="border-0">
                                               <td colspan="3" class="border-0 text-right">{{ tax.name }}</td>
                                               <td class="border-0 text-right">{{ tax.order_tax_total_formatted }}</td>
                                            </tr>
                                        {% endfor %}
                                        <tr class="border-0">
                                            <td colspan="3" class="border-0 text-right font-weight-bold">{{ __('info.total') }}:</td>
                                            <td class="border-0 text-right font-weight-bold"><nobr>{{ invoice.total_formatted_long }}</nobr></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    {% if invoice.special_notes %}
                        <div class="row mb-4">
                            <div class="col-12">
                                <div class="bg-dark p-2 text-white mt-3 font-weight-bold">{{ __('forms.special_notes') }}</div>
                                <div class="p-2">
                                    {{ nl2br(invoice.special_notes) | raw }}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <div class="text-center d-print-none">
                        <a href="{% if auth().check() %}{{url('/account')}}{% else %}{{ url('/') }}{% endif %}"><i class="bi bi-arrow-left"></i> {{ __('buttons.back_to_client_area') }}</a> - <a target="_blank" href="{{url('/invoices/'~ invoice.id ~ '/' ~ invoice.password ~ '/pdf')}}"><i class="bi bi-file-pdf"></i> {{ __('buttons.generate_pdf') }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}