<script schema type="application/json">
    {
        "name": "Main Return Order Cancel Section",
        "allowed_templates": ["account.order.return_cancel.json"]
    }
</script>

{% block content %}

{% from "macros/form_error.twig" import formError, allErrors %}

<div class="container mt-5">
    <h3>{{ __('titles.cancel_return_request', {request_number: return_request.request_number}) }}</h3>
    <hr>
    <form method="post" action="">
    {{ csrf_input | raw }}
    <h4>{{ __('questions.cancel_return_request') }}</h4>
    <button class="btn btn-dark mt-3" type="submit">{{ __('buttons.cancel_return_request') }}</button>
    <a href="{{ url('/account/orders/' ~ order.id) }}" class="btn btn-link mt-3 ms-2">{{ __('buttons.return_to_order') }}</a>
    </form>
</div>
{% endblock %}