<script schema type="application/json">
    {
        "name": "Main Register Section",
        "allowed_templates": [
            "account.register.json"
        ]
    }
</script>

{% block content %}

    {% from "macros/form_error.twig" import formError %}

    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-sm-8 col-md-6 col-xl-4">
                <div class="text-center">
                    <h3>{{ __('titles.create_account') }}</h3>
                </div>
                <p class="mt-4 mb-3">
                    <a href="{{ url('/account/login') }}"><u>{{ __('buttons.back_to_customer_login') }}</u></a>
                </p>
                <form method="post" action="{{ url('/account/register') }}">
                    {{ csrf_input | raw }}
                    <label class="floating-input">
                        <span class="floating-label">{{ __('forms.first_name') }}</span>
                        <input type="text" name="first_name"
                               placeholder="{{ __('forms.first_name') }}"
                               class="form-control"
                               value="{{ old('first_name') }}">
                    </label>
                    {{ formError('first_name', true) }}
                    <label class="floating-input">
                        <span class="floating-label">{{ __('forms.last_name') }}</span>
                        <input type="text" name="last_name"
                               placeholder="{{ __('forms.last_name') }}"
                               class="form-control"
                               value="{{ old('last_name') }}">
                    </label>
                    {{ formError('last_name', true) }}
                    <label class="floating-input">
                        <span class="floating-label">{{ __('forms.email') }}</span>
                        <input type="text" name="email_address"
                               placeholder="{{ __('forms.email') }}"
                               class="form-control"
                               value="{{ old('email_address') }}">
                    </label>
                    {{ formError('email_address', true) }}
                    <label class="floating-input">
                        <span class="floating-label">{{ __('forms.password') }}</span>
                        <input type="password" name="password"
                               placeholder="{{ __('forms.password') }}"
                               class="form-control"
                               value="">
                    </label>
                    {{ formError('password', true) }}
                    <div class="checkbox">
                        <input type="checkbox" name="newsletter" id="newsletter" checked>
                        <label for="newsletter">{{ __('forms.sign_up_for_newsletter') }}</label>
                    </div>
                    {{ formError('newsletter', true) }}
                    <div class="checkbox">
                        <input type="checkbox" name="terms_of_service_and_privacy_policy"
                               id="terms_of_service_and_privacy_policy"
                               {% if old('terms_of_service_and_privacy_policy') %}checked{% endif %}>
                        <label for="terms_of_service_and_privacy_policy">{{ __('forms.terms_of_service_and_privacy_policy', {'store_name': globals.store.name}) }}</label>
                    </div>
                    {{ formError('terms_of_service_and_privacy_policy') }}
                    <div class="d-grid gap-2">
                        <button type="submit"
                                class="btn btn-dark btn-block mt-3">{{ __('buttons.create_account') }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}