<script schema type="application/json">
    {
        "name": "Main Cart Section",
        "allowed_templates": [
            "cart.json"
        ],
        "settings": {
        }
    }
</script>

{% block content %}

    {% from "macros/optimized_image.twig" import optimized_image %}

    <div id="mb_cart_container" class="container">
        {% if globals.cart.cart_items | length > 0 %}
            <h3 class="mb-0 mt-5">{{ __('titles.your_cart') }}</h3>
            <div class="row mt-3">
                <div class="col-lg-8">
                    {% for key, item in globals.cart.cart_items %}
                        <div class="cart-item text-center text-sm-start" data-cart-item-id="{{ item.id }}">
                            <div class="row align-items-center">
                                <div class="col-sm-2 text-center">
                                    <div class="d-inline-block" style="max-width: 150px;">
                                        {% if item.gift_card_value %}
                                            <i class="bi bi-gift gift-card-icon"></i>
                                        {% else %}
                                            <div class="gallery-file thumbnail border-0 img-fluid bg-white" data-file-name=""
                                                 style="width:80px; height:80px;">
                                                {{ optimized_image({
                                                    path: item.variant.image.path ?? item.product.primaryImage.path ?? '/img/placeholder-img.jpg',
                                                    variants: item.variant ? item.variant.image.variants : item.product.primaryImage.variants,
                                                    alt: item.product.name,
                                                    max_size: 'sm'
                                                }) }}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    {% if item.gift_card_value %}
                                        {{ __('titles.gift_card') }}
                                        {% if item.gift_card_recipients | length > 0 %}
                                            <p class="small">{{ __('forms.recipients') }}
                                                : {{ item.gift_card_recipients | join(', ') }}</p>
                                        {% endif %}
                                        {% if item.gift_card_message %}
                                            <p class="small">{{ __('forms.message') }}
                                                : {{ item.gift_card_message }}</p>
                                        {% endif %}
                                    {% else %}
                                        <a href="{{ url(item.product.link.uri ~ ((item.variant) ? '?variant=' ~ item.variant.id : '')) }}" class="fs-5">{{ item.product.name }}</a>
                                        <div class="item-config">
                                            {% if item.variant %}
                                                {% for variantOptionValue in item.variant.variant_option_values %}
                                                    <b>{{ variantOptionValue.product_variant_option.name }}:</b>
                                                    {% if variantOptionValue.product_variant_option.type == 'color_swatch' %}
                                                        <span class="swatch"
                                                              style="background-color:{{ variantOptionValue.value }}">
                                                                </span>
                                                    {% else %}
                                                        {{ variantOptionValue.value }}
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                        {% for modifierOption in item.cart_item_modifier_options %}
                                            <b>{{ modifierOption.product_modifier.name }}:</b>{% if modifierOption.quantity > 1%} {{ modifierOption.quantity }}x{% endif%} {{ modifierOption.product_modifier_option.name }}<br>
                                        {% endfor %}
                                        {% if auth().check() and get_store_plan_feature('save_item_for_later') %}
                                            <a data-cart-item-save="{{ item.id }}" class="mt-2 mb-2 d-inline-block"
                                               style="font-size: 14px;"
                                               href="#!">{{ __('buttons.save_for_later') }}</a>
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div class="col-sm-3 text-center">
                                    {% if item.gift_card_value != null %}
                                        <div>{{ item.quantity }}</div>
                                    {% endif %}
                                    {% if item.gift_card_value == null and (item.product.track_inventory == false or item.max_quantity_selection > 0) %}
                                        <div class="mb__quantity_spinner">
                                            <button type="button" class="mb__quantity_spinner_minus"
                                                    id="mb__quantity_spinner_minus" data-key="minus_{{ item.id }}"><i class="bi bi-dash-lg"></i>
                                            </button>
                                            <input type="number"
                                                   data-current-quantity="{{ item.quantity }}"
                                                   data-cart-item-quantity-input="{{ item.id }}"
                                                   value="{{ item.quantity }}" min="0"
                                                   max="{{ (item.product.track_inventory) ? item.max_quantity_selection : '' }}">
                                            <button type="button" class="mb__quantity_spinner_plus"
                                                    id="mb__quantity_spinner_plus" data-key="plus_{{ item.id }}"><i class="bi bi-plus-lg"></i>
                                            </button>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="col-sm-3 text-sm-end">
                                    <p class="price mt-3 mt-sm-0">
                                        {% if item.compare_price %}
                                            <s class="discount d-block"
                                               data-cart-item-price-compare="{{ item.id }}">{{ item.compare_price_converted_formatted_long }}</s>
                                        {% endif %}
                                        <span data-cart-item-discount-price="{{ item.id }}">{{ item.price_converted_formatted_long }}</span>
                                    </p>
                                    {% if item.setup_fee > 0 %}
                                        <p class="setup-fee">+ <span
                                                    data-cart-item-setup="{{ item.id }}">{{ item.setup_fee_converted_formatted_long }}</span> {{ __('info.setup_fee') }}
                                        </p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% if item.quantity_unavailable > 0 and item.max_quantity_selection > 0 %}
                            <div class="alert alert-warning alert-dismissible fade show ml-5 mr-4">
                                {{ __('info.item_stocks_down', {max_quantity: item.max_quantity_selection}) }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"
                                        data-update-item-quantity="{{ item.id }}">
                                        <span aria-hidden="true"><i class="fa fa-times"
                                                                    style="font-size: 18px;"></i></span>
                                </button>
                            </div>
                        {% endif %}
                        {% if item.max_quantity_selection == 0 %}
                            <div class="alert alert-warning ml-5 mr-4">
                                {{ __('info.item_unavailable') }}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="col-lg-4 mt-4 mt-lg-0">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center small mb-2">
                                <div>
                                    {{ __('info.subtotal') }}:
                                </div>
                                <div class="flex-grow-1 text-end">
                                    <span class="mb_cart_subtotal_formatted text-nowrap">{{ globals.cart.subtotal_converted_formatted }}</span>
                                </div>
                            </div>
                            {% if globals.cart.require_shipping %}
                                <div class="d-flex align-items-center small mb-2">
                                    <div>{{ __('info.shipping') }}:</div>
                                    <div class="flex-grow-1 text-end">{{ __('info.calculated_at_checkout') }}</div>
                                </div>
                            {% endif %}
                            {% if globals.cart.taxable_subtotal > 0 %}
                                <div class="d-flex align-items-center small">
                                    <div>{{ __('info.taxes') }}:</div>
                                    <div class="flex-grow-1 text-end">{{ __('info.calculated_at_checkout') }}</div>
                                </div>
                            {% endif %}
                            <hr class="mt-3 mb-2">
                            <div class="d-flex align-items-center">
                                <div class="fs-5">
                                    {{ __('info.total') }}:
                                </div>
                                <div class="flex-grow-1 text-end">
                                    <b><span class="mb_cart_subtotal_formatted text-nowrap fs-5">{{ globals.cart.subtotal_converted_formatted_long }}</span></b>
                                </div>
                            </div>
                            <div class="d-grid gap-2 mt-3">
                                <a href="{{ url('/cart/checkout') }}"
                                   class="btn btn-dark btn-block {% if globals.cart.quantity == 0 or globals.store.allow_checkout == false %} disabled {% endif %}">{{ __('buttons.proceed_to_checkout') }} {% if globals.store.allow_checkout == false %}{{ __('buttons.disabled') | lower }}{% endif %}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="text-center mt-5">
                <h4>{{ __('placeholders.no_items_in_cart') }}</h4>
                <a class="btn btn-dark mt-3" href="{{ url('/products') }}">{{ __('buttons.continue_shopping') }}</a>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        window.mb_cart_section_index = {{ schema.index }};
    </script>
{% endblock %}