<script schema type="application/json">
    {
        "name": "Main Password Access Section",
        "allowed_templates": [
            "password.json"
        ]
    }
</script>

{% block content %}

    {% from "macros/form_error.twig" import formError %}

    <div class="container">
        <h1 class="h2 text-center pt-4">{{ globals.store.name }}</h1>
        <h3 class="h2 text-center mt-5 pt-5"><b>{{ __('titles.password_access') }}</b></h3>
        <div class="row">
            <div class="offset-md-4 col-md-4">
                <p class="text-center mt-5">{{ __('info.password_required_to_enter_store') }}</p>
                <form action="{{ url('/password') }}" method="post">
                    {{ csrf_input | raw }}
                    <label class="floating-input">
                        <span class="floating-label">{{ __('forms.password') }}</span>
                        <input type="password" name="password"
                               placeholder="{{ __('forms.password') }}"
                               class="form-control"
                               value="{{ old('password') }}">
                    </label>
                    {{ formError('password', true) }}
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-outline-dark">{{ __('buttons.enter') }}</button>
                        {% if globals.store.status == 'draft' %}
                            <a href="{{ url('/coming-soon') }}"
                               class="btn btn-transparent">{{ __('buttons.cancel') }}</a>
                        {% endif %}
                    </div>
                </form>
                <div class="mt-3 mb-5 text-center">
                    {{ __('questions.are_you_the_store_owner') }} <a
                            href="{{ url('admin') }}"><u>{{ __('buttons.login_here') }}</u></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}