<script schema type="application/json">
    {
        "name": "Product slider",
        "icon": "arrows-alt-h",
        "description": "Showcase your best selling products.",
        "settings": {
            "title": {
                "label": "Title",
                "type": "text",
                "default": "Products"
            },
            "products": {
                "label": "Products",
                "type": "products"
            }
        }
    }
</script>

<script on_update type="text/javascript">
    initSlick{{ schema.index }}();
</script>

{% block content %}
    {% from "macros/card.twig" import card %}
    <div class="container">
        <h2 class="text-center mt-5 mb-5">{{ __('custom.' ~ schema.settings.title.value) }}</h2>
        {% if schema.settings.products.products | length > 0 %}
            <div class="items items_{{schema.index}} no-print">
                {% for product in schema.settings.products.products %}
                   {{ card({
                       heading: product.brand_name ?? '⠀',
                       title: product.name,
                       image_path: product.default_variant_image_path ? product.default_variant_image_path : product.default_image_path,
                       badge: product.on_sale ? __('titles.sale') : null,
                       price: product.default_variant_price ?? product.price,
                       compare_price: product.default_variant_compare_price ?? product.compare_price,
                       uri: product.uri,
                       track_inventory: product.track_inventory,
                       available: product.available
                   }) }}
                {% endfor %}
            </div>
        {% else %}
            <p class="text-center">{{ __('info.product_slider_default_text') }}</p>
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
    <script>
        let initSlick{{ schema.index }} = function () {
            $('.items.items_{{schema.index}}').slick({
                infinite: true,
                variableWidth: true,
                centerMode: true,
                slidesToShow: 1,
                slidesToScroll: 1,
                arrows: true,
                dots: true,
                prevArrow: "<button type='button' class='slick-prev pull-left'><i class='bi bi-chevron-left'></i></button>",
                nextArrow: "<button type='button' class='slick-next pull-right'><i class='bi bi-chevron-right'></i></button>"
            });
        }

        $(document).ready(function () {
            initSlick{{schema.index}}();
        });
    </script>
{% endblock %}