{% macro card(data) %}
    {% from "macros/optimized_image.twig" import optimized_image %}
    <a href="{{ url(data.uri) }}" class="d-block">
        <div class="mb_card left-align">
            <div class="gallery-file border-0 bg-white {% if data.image_fill %}cover{% endif %}" style="width: auto; height: 380px">
                {{ optimized_image({
                    path: data.image_path ?? '/img/placeholder-img.jpg',
                    variants: data.image_variants,
                    alt: data.title,
                    max_size: 'sm'
                }) }}
                {% if data.track_inventory == true and data.available == false %}
                    <div class="out-of-stock">{{ __('forms.currently_unavailable') }}</div>
                {% endif %}
            </div>
            {% if data.heading or data.badge %}
                <div class="d-flex mb-2 mt-2">
                    {% if data.badge %}
                        <div class="flex-grow-1">
                            <small class="badge bg-dark">{{ data.badge }}</small>
                        </div>
                    {% endif %}
                    {% if data.heading %}
                        <small class="text-muted {% if data.badge %}ps-2{% endif %}">{{ __('custom.' ~ data.heading) }}</small>
                    {% endif %}
                </div>
            {% endif %}
            <div class="title">{{ __('custom.' ~ data.title) }}</div>
            {% if data.subtitle %}
                <div class="text-muted">{{ data.subtitle }}</div>{% endif %}
            {% if data.price %}
                <div class="text-muted">
                    {% if data.price <= 0 %}
                        <span class="d-block">{{ __('forms.free') }}</span>
                    {% else %}
                        <span>{{ money_format(convert_currency(data.price), true) }}
                            {% if data.compare_price > 0 %}
                                <del>{{ money_format(convert_currency(data.compare_price)) }}</del>
                            {% endif %}
                    </span>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </a>
{% endmacro %}